$brand-color: #62c1f2;

.weather {
  text-align: center;
  margin-top: -10px;

  h2 {
    font-size: 4em;
    margin-bottom: 0px;
  }

  span {
    font-size: 1.5em;
    text-transform: capitalize;
  }

  .icon{
    font-size: 1.3em;
    padding-bottom: 10px;
  }
}

.clock {
  text-align: center;
  padding-right: 10px;

  i {
    font-size: 1.5em;
  }
}

.loader {
  height: 350px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    text-align: center;
    width: 50%;

    i {
      font-size: 2em;
    }
  }
}

.additional-info {
    text-align: left;
    margin-left: 5%;

    ul li {
      float: left;
      list-style: none;
      font-size: 1.1em;
      padding: .5em;
      margin-top: 20px;
    }
}


.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
